@import url ('https://fonts.googleapis.com/css2? família=Poppins:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

h1{
    color: #5C0F8B;
}

#menu-logo{
    display: flex;
    align-items: center;
    padding: 2%;
}


a {
    text-decoration: none;
}

#menu-bottom{
    background-color: darkorange;
    color: white;
    float: left;
    text-align: center;
    display: inline-block;
    line-height: 40px;
    width: 200px;
    height: 40px;
}

#menu{
    background-color: white;
}

#icones{
    background-color: #f16223;
    padding: 50px;
    text-align: center;

}

#icones a{
    color: white;
    text-decoration: none;
    padding: 15px;
}

.container-1, .container-2{
    width: 100%;
}
#container{
    background: white;
    width: 920px;
    margin: 0 auto;
}

#Destaque, #Destaque-lateral{ 
   margin-top: 10px;
}

#Destaque{
    width: 600px;
    float: left;
    padding: 10px;
}

#Destaque-lateral{
    padding: 50px;
    width: 320px;
    float: right;
}
.d-grid gap-2 col-6 mx-auto button{
    margin: 20px;
}

#banner_texto{
    margin: 40px;
    text-align: left;
    color: white;
}

#colunas{
    clear: both;
}

.col: hover{
        $box-shadow:                  0 .5rem 1rem rgba($black, .15);
    $box-shadow-sm:               0 .125rem .25rem rgba($black, .075);
    $box-shadow-lg:               0 1rem 3rem rgba($black, .175);
    $box-shadow-inset:            inset 0 1px 2px rgba($black, .075);
}

.container-3{
    padding: 30px;
    clear: both;

}

.hero-image {
  clear: both;
  background-image: url("../img/phone.png");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 70px;
}

.card-1{
    float: left;
    padding: 10px;
}
.card-img-top{
    width: 500px;
}

.card-2{
    float: right;
}

ul{
    list-style: none;
}

.container_0{
    margin: auto;
    max-width: 1170px;
}

.rower{
    display: flex;
    flex-wrap: wap;
}

.footer{
    background-color: #5C0F8B;
    padding: 70px 0;
}

.footer_col{
    width: 20%;
    padding: 0 15px;
}

.footer_col h4{
    font-size: 18px;
    color: #F16223;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}


.footer_col h4:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer_col ul li{
    margin-bottom: ~10px;

}

.footer_col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #F16223;
    text-decoration: none;
    font-weight: 300;
    display: block;
    color: ##F16223;
    transform: all 0.3s ease;

}

.footer_col ul li a:hover{
    color: #F16223;
    padding-left: 8px;

}

.footer_col .social-midia a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(225, 225, 225, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    color: ##F16223;
    transform: all 0.5s ease;
}
.social-midia img{
    padding: 15px;
}

.co_te{
    padding: 10px;
    text-align: center;
}
.Copyrigth, .Termos{
    color: white;
}
.Copyrigth{
    float: left;
}

.Termos{
    float: right;
}


//** rodape **//

#primeira ul li{
    display: inline-block;
    color: white;

}
#primeira ul li a{
    color: white;
}



